@model StageProject.Model.ViewModel.AddressViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Endereco</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Cliente.CodigoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.CodigoCliente)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.IDEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLogradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLogradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeLogradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeLogradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
