@model StageProject.Model.ViewModel.StarWars.CharacterViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hair_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hair_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skin_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skin_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eye_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eye_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birth_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homeworld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homeworld)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.AllFilms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AllFilms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeSpecies)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeSpecies)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllVehicles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AllVehicles)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllStarships)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AllStarships)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
